{% extends 'management/main.html' %} {%block content%}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách màu</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="{% url 'home'%}">Tổng quát</a></li>
      <li class="breadcrumb-item active">Danh sách màu</li>
    </ol> 
    <div class="d-grid gap-2">
      <a
        href=""
        class="btn btn-primary"
        role="button"
        >Thêm màu</a
      >
    </div>
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Danh sách màu
      </div>
        <ul class="list-group">
          {% for color in color %}
          <li class="list-group-item"><a href="{% url 'rollTable' color.color_id %}">{{color.colorOfType}}</li>
          {% endfor %} 
        </ul> 
    </div>
  </div>
</main>
{%endblock%}
