{% extends 'management/main.html' %} {%block content%}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Chi tiết khách hàng</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item">
        <a href="{% url 'customerTable' %}">Danh sách khách hàng</a>
      </li>
      <li class="breadcrumb-item active"></li>
    </ol>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Danh sách mẫu hàng
      </div>
      <div class="card-body">
        <div class="d-grid gap-2">
          <a
            href="{% url 'formOrderCustomer' customer.customer_id%}"
            class="m-4 btn btn-primary"
            type="button"
            >Thêm đơn hàng</a
          >
        </div>
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Tên</th>
              <th>Hàng</th>
              <th>Ngày được thêm vào</th>
              <th>Chi tiết</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Tên</th>
              <th>Hàng</th>
              <th>Ngày được thêm vào</th>
              <th>Chi tiết</th>
            </tr>
          </tfoot>
          <tbody>
            {% for order in order %}
            <tr>
              <td>{{order.order_id}}</td>
              <td>{{order.customer}}</td>
              <td>{{order.product}}</td>
              <td>{{order.order_date}}</td>
              <td>
                <!-- <a href="{% url 'updateProduct' order.order_id %}" class="btn btn-primary">Cập nhật</a> -->
                <a
                  href="{% url 'deleteProduct' order.order_id %}"
                  class="btn btn-danger"
                  >Xóa</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{%endblock%}
