{% extends 'management/main.html' %} {%block content%}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách khách hàng</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="{% url 'home'%}">Tổng quát</a></li>
      <li class="breadcrumb-item active">Danh sách khách hàng</li>
    </ol>
    <!-- <div class="card mb-4">
                            <div class="card-body">
                                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                                .
                            </div>
                        </div> -->
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Danh sách khách hàng
      </div>
      <div class="card-body">
        <div class="d-grid gap-2">
          <a
            href="{% url 'formCustomer' %}"
            class="m-4 btn btn-primary"
            role="button"
            >Thêm khách hàng</a
          >
        </div>
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>Họ</th>
              <th>Đệm</th>
              <th>Tên</th>
              <th>Điện Thoại</th>
              <th>Chứng minh nhân dân</th>
              <th>Ngày được thêm vào</th>
              <th>Chi tiết</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Họ</th>
              <th>Đệm</th>
              <th>Tên</th>
              <th>Điện Thoại</th>
              <th>Chứng minh nhân dân</th>
              <th>Ngày được thêm vào</th>
              <th>Chi tiết</th>
            </tr>
          </tfoot>
          <tbody>
            {% for customer in customer %}
            <tr>
              <td>{{customer.lastname}}</td>
              <td>{{customer.middlename}}</td>
              <td>{{customer.firstname}}</td>
              <td>{{customer.phone}}</td>
              <td>{{customer.socialnumber}}</td>
              <td>{{customer.customer_date}}</td>
              <td>
                <a
                  href="{% url 'customer' customer.customer_id %}"
                  class="btn btn-primary"
                  >Đơn hàng của khách</a
                >
                <a
                  href="{% url 'updateCustomer' customer.customer_id %}"
                  class="btn btn-primary"
                  >Cập nhật</a
                >
                <a
                  href="{% url 'deleteCustomer' customer.customer_id %}"
                  class="btn btn-danger"
                  >Xóa</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{%endblock%}
