{% extends 'management/main.html' %} {%block content%}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Thêm mẫu hàng</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">Tổng quát</a></li>
                            <li class="breadcrumb-item active">Thêm mẫu hàng</li>
                        </ol>
                    </div>
                   <div class="container mb-3 mt-3">
                    <form class="row g-3" action="" method="POST">
                        {% csrf_token %}
                        {{form}}
                        <!-- <input type="submit" name="Submit">
                        <div class="col-md-6">
                          <label for="inputAddress" class="form-label">Tên màu</label>
                          <input type="text" class="form-control" id="product" placeholder="Tên màu">
                        </div>
                        <div class="col-md-6">
                            <label for="inputAddress" class="form-label">Mã Hex</label>
                            <input type="text" class="form-control" id="hex" placeholder="Mã Hex">
                        </div>
                        <div class="col-md-6">
                            <label for="inputAddress" class="form-label">Chiều dài</label>
                            <input type="text" class="form-control" id="length" placeholder="Chiều dài">
                        </div>
                        <div class="col-md-6">
                            <label for="inputAddress" class="form-label">Địa điểm</label>
                            <input type="text" class="form-control" id="location" placeholder="Địa điểm">
                        </div>
                        <div class="col-12"> -->
                          <button type="submit" class="btn btn-primary">Thêm</button>
                        </div>
                      </form>
                   </div>
                </main>
{%endblock%}