{% extends 'management/main.html' %} {%block content%}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Thêm khách hàng</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="{% url 'home'%}">Tổng quát</a></li>
      <li class="breadcrumb-item active">Thêm khách hàng</li>
    </ol>
  </div>
  <div class="container mb-3 mt-3">
    <form class="row g-3" action="" method="POST">
      <div class="col-md-4">
        {% csrf_token %} {{form}}
        <!-- <input type="submit" name="Submit">
                          <label for="inputAddress" class="form-label">Họ</label>
                          <input type="text" class="form-control" id="lastName" placeholder="Họ">
                        </div>
                        <div class="col-md-4">
                            <label for="inputAddress" class="form-label">Đệm</label>
                            <input type="text" class="form-control" id="middleName" placeholder="Đệm">
                        </div>
                        <div class="col-md-4">
                            <label for="inputAddress" class="form-label">Tên</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Tên">
                        </div>
                        <div class="col-md-6">
                            <label for="inputAddress" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control" id="phoneNumber" placeholder="Số điện thoại">
                        </div>
                        <div class="col-md-6">
                            <label for="inputAddress" class="form-label">Chứng minh nhân dân</label>
                            <input type="text" class="form-control" id="socialNumber" placeholder="Chứng minh nhân dân">
                        </div>
                        <div class="col-12"> -->
        <button type="submit" class="btn btn-primary">Thêm</button>
      </div>
    </form>
  </div>
</main>
{%endblock%}
