{% extends 'management/main.html' %} {%block content%}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Thêm khách hàng</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="{% url 'home'%}">Tổng quát</a></li>
      <li class="breadcrumb-item active">Thêm khách hàng</li>
    </ol>
  </div>
  <div class="container mb-3 mt-3">
    <form class="row g-3" action="" method="POST">
      <div class="col-md-4">
        {% csrf_token %} {{form}}
        <button type="submit" class="btn btn-primary">Thêm</button>
      </div>
    </form>
  </div>
</main>
{%endblock%}
